{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<header class="position-relative">
    <img src="/img/vue-dessus-du-panier-plein-pains-comme-baguette-bagel-seigle-graines-tournesol-surface-noire.jpg" width="500" height="300" class="d-block w-100 object-fit-cover " alt="Image 1"/>
    <div class="p-5 text-center text-white position-absolute top-50 start-50 translate-middle bg-white rounded bg-opacity-75">
        <div class="container py-3">
            <h1 class="text-body-emphasis">About us</h1>
        </div>
    </div>
</header>

<div>
    <div class="d-flex align-items-center flex-column justify-content-center pt-5">
        <div class="w-50 text-center shadow rounded bg-body-tertiary">
            <h2 class="fw-semibold text-body-emphasis">Bienvenue au gâteau</h2>
            <h3 class="text-uppercase fw-medium">NOTRE HISTOIRE</h3>
            <p class="p-3">La journée pour une visite de trois heures, une visite de trois heures puis un jour, il tirait sur de la nourriture et à travers le sol est venue une huile qui est une belle journée.</p>
        </div> 
    </div>

    <div class="d-flex align-items-center justify-content-center p-5">
        <img src="/img/vue-dessus-du-panier-plein-pains-comme-baguette-bagel-seigle-graines-tournesol-surface-noire.jpg" width="500" height="500" class="d-block object-fit-cover " alt="Image 1"/>
        <div>
            <ul>
                <li><i class="bi bi-cake2"></i><h3>Notre mission</h3></li>
                <li><i class="bi bi-pie-chart"></i><h3>Notre vision</h3></li>
                <li><h3>Ce que nous faisons</h3></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}