{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}

<header class="position-relative">
    <img src="/img/vue-dessus-du-panier-plein-pains-comme-baguette-bagel-seigle-graines-tournesol-surface-noire.jpg" width="500" height="300" class="d-block w-100 object-fit-cover " alt="Image 1"/>
    <div class="p-5 text-center text-white position-absolute top-50 start-50 translate-middle bg-white rounded bg-opacity-75">
        <div class="container py-3">
            <h1 class="text-body-emphasis">Service</h1>
        </div>
    </div>
</header>

<div>

</div>
{% endblock %}