{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<header class="position-relative">
    <img src="/img/vue-dessus-du-panier-plein-pains-comme-baguette-bagel-seigle-graines-tournesol-surface-noire.jpg" width="500" height="300" class="d-block w-100 object-fit-cover " alt="Image 1"/>
    <div class="p-5 text-center text-white position-absolute top-50 start-50 translate-middle bg-white rounded bg-opacity-75">
        <div class="container py-3">
            <h1 class="text-body-emphasis">Contact</h1>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="d-flex justify-content-around">
        <div><img src="/img/kebaili.jpg"/></div>
        <div class="bg-body-tertiary p-3 rounded shadow">
            <h1 class="text-body-emphasis text-center">Formulaire de Contact</h1>
            <form>
                <div class="d-flex flex-column">

                    <div class="d-flex gap-3">

                        <div class="d-flex flex-column gap-1">
                    
                            <label class="form-label">Nom</label>
                            <input type="text" class="form-control"></input>
                        </div>

                        <div class="d-flex flex-column">

                            <label class="form-label">Prenom</label>
                            <input type="text" class="form-control"></input>
                        </div>
                    </div>

                    <div class="d-flex gap-3">
                        <div class="d-flex flex-column">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control"></input>
                        </div>

                        <div class="d-flex flex-column">
                            <label class="form-label">Tel</label>
                            <input type="numero" class="form-control"></input>
                        </div>
                    </div>

                </div>
                <div class=" d-flex flex-column gap-1">

                    <div>
                        <label class="form-label">Objet</label>
                        <input type="text" class="form-control"></input>
                    </div>
                    <div>
                        <label for="floatingTextarea">Messages</label>     
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    </div>           
                
                </div>
                </br>
                <button type="button" class="btn btn-primary">Submit</button>
            </fom>
        </div>
    </div>
</div>
{% endblock %}
