<div class="text-center p-5 border-top bg-body-tertiary">
  <div class="row align-items-start justify-content-center gap-4 flex-wrap" id="footer">
    <div class="col">
        <h3 class="text-uppercase text-body-primary bg-white rounded bg-opacity-50">Kebaili Boulangerie Pâtisserie</h3>
        <div>
            <p>La journée pour une visite de trois heures, une visite de trois heures puis un jour, il tirait sur de la nourriture et à travers le pétrole souterrain.</p>
            <a type="button" class="btn btn-light me-md-2 text-uppercase" href="/contact">Contact</a>
        </div>
    </div>
    <div class="col">
        <h3 class="text-body-primary bg-white rounded bg-opacity-50">COMMANDER EN LIGNE</h3>
        <div>
            <p>La journée pour une visite de trois heures, une visite de trois heures puis un jour, il tirait sur de la nourriture et à travers le pétrole souterrain.</p>
            <button type="button" class="btn btn-primary">Commandez Maintenant</button>
        </div>
    </div>
    <div class="col">
        <h3 class="text-body-primary bg-white rounded bg-opacity-50">CONTACTEZ-NOUS AUJOURD'HUI</h3>
        <div>
            <p><i class="bi bi-telephone"></i> Appelez-nous 03 59 05 37 94</p>
            {# <p><i class="bi bi-envelope"></i> Envoyez un e-mail à contact@cakeshop.com</p> #}
            <p><i class="bi bi-geo-alt"></i>  222 Rue de Lannoy, 59100 Roubaix</p>
            {# <div class="d-flex justify-content-evenly">
                <div class="bg-second p-3 rounded-circle "><i class="bi bi-facebook text-white"></i></div>
                <div class="bg-second p-3 rounded-circle"><i class="bi bi-instagram text-white"></i></div>
                <div class="bg-second p-3 rounded-circle"><i class="bi bi-google text-white"></i></div>
            </div> #}
        </div>
    </div>

  </div>
</div>