<div class=" position-relative">
  <!-- Carrousel de fond -->
  <div id="background-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/istockphoto-663898216-612x612.jpg"  width="500" height="500" class="d-block w-100 object-fit-cover " alt="Image 1">
      </div>
      <div class="carousel-item">
        <img src="/img/Les-5-meilleures-boulangeries-de-Lyon-800x492.jpg"  width="500" height="500" class="d-block w-100 " alt="Image 2">
      </div>
      <!-- Ajoutez d'autres éléments du carrousel selon vos besoins -->
    </div>
  </div>

  <!-- Text de fond -->
  <div class="p-5 text-center text-white position-absolute top-50 start-50 translate-middle bg-white rounded bg-opacity-75">
    <div class="container py-3">
      <h1 class="text-body-emphasis">Bienvenue à la boulangerie-pâtisserie Kebaili</h1>
      <p class="col-lg-8 mx-auto lead text-dark">
        Découvrez notre sélection de délicieuses pâtisseries et de pains frais. Nous vous proposons une expérience culinaire authentique et savoureuse.
      </p>
    </div>
  </div>

</div>
