<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="cartDropdownBtn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="bi bi-basket"></i> <span id="cartItemCount" class="badge badge-primary"></span>
  </button>
  <div class="dropdown-menu" aria-labelledby="cartDropdownBtn" id="cartDropdown">
    <!-- Ajoutez le bouton à l'intérieur du dropdown menu -->
    <button id="sendToDatabaseBtn" class="btn btn-success dropdown-item">Envoyer le panier vers la base de données</button>
  </div>
</div>
